html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --panel-height: 250px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--panel-height));
}


#panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;

  background: #2e2e2e;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

#panel-image {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#panel-image[src] {
  opacity: 1;
}


#panel-image {
  height: 230px;          /* fisso */
  width: 280px;

  object-fit: cover;
  object-position: center;

  display: block;
}

#image-wrapper {
  position: relative;
  width: 280px;   /* la tua ratio attuale */
  height: 230px;

  display: flex;
  justify-content: center;
  align-items: center;
}



#panel-title,
#panel-description {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 35%;
}

.image-overlay {
  position: absolute;
  inset: 5px;

  background: rgba(0, 0, 0, 0.66);
  color: #ffffff;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

#image-wrapper:hover .image-overlay {
  opacity: 1;
  pointer-events: auto;
}




#image-wrapper:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  align-items: flex-start;
  justify-content: flex-end;
}

.overlay-text {
  text-align: left;
  padding: 10px;

  width: 100%;
  box-sizing: border-box;

  font-family: Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.overlay-text h3 {
  margin: 0 0 6px 0;

  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
}

.overlay-text p {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  opacity: 1.0;
}

.overlay-coordinates {
  font-family: Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  opacity: 0.75;

  display: flex;
  align-items: center;
  gap: 4px;
}

.overlay-bottom {
  font-family: Calibri, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  left: 8px;
  bottom: 10px;
  
}

#overlay-description {
  margin: 0 0 5px 0; 
  font-size: 20px;
  line-height: 1.35;
}


#coords-copy {
  pointer-events: auto;
}

#coords-copy {
  margin-left: 0px;
  background: none;
  border: none;
  color: inherit;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
}

#coords-copy:hover {
  opacity: 1;
}

#title-copy {
  pointer-events: auto;
}

#title-copy {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0px;

  color: inherit;
  font: inherit;

  cursor: pointer;
  opacity: 0.7;
}

#title-copy:hover {
  opacity: 1;
}

#title-copy {
  font-size: 18px;
  vertical-align: middle;
}

.image-overlay {
  cursor: pointer;
}

.image-overlay button {
  cursor: default;
}


